# Compiled output & build directories
/dist
**/dist/
**/build/
**/cmake-build-debug/
**/.externalNativeBuild/
**/.pio/
socket-server/javascript/node_modules
client/javascript/node_modules
client/javascript/.angular
map/.angular
map/node_modules
raspberry-pi-client/javascript/node_modules

# Android
**/.gradle/
**/local.properties
**/captures/
**/.cxx/
**/android-client/app/build/

# Apple / Xcode
**/*.xcuserstate
**/xcuserdata/
**/*.xcscmblueprint
DerivedData/

# Environment Variables & Secrets
**/.env
**/.env.local
**/.env.*.local
!**/.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
**/.DS_Store
Thumbs.db
**/Thumbs.db

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
**/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
docker/data/*
test.md
