# compiled output
/dist
socket-server/javascript/node_modules
client/javascript/node_modules
client/javascript/.angular
raspberry-pi-client/javascript/node_modules
client/c/.idea
client/c/cmake-build-debug
websocket-server/c/.idea
websocket-server/c/cmake-build-debug

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
docker/data/*

# Misc
.env
client/javascript/.env.local
